*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*input{
    border: 1px solid red;
    color: blue;
}

input::placeholder{
    color: magenta;
}

p{
    color: blue;
}

p::first-line{
    color: brown;
}*/

a{
    color: blue;
}
a::before{
   content: "🏋🏻‍♂️";
}

a::after{
    content: "🎮";
}
