h1{
    color: brown;
    font-size: 64px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    text-shadow: 10px 10px 20px #ff0000;
}

p{
    color: blue;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
    /*font-style: italic;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 40px;
    text-align: center;*/
    text-transform: uppercase;
    text-decoration: underline;
    
}